@model IEnumerable<HospitalProject.Models.Randevu>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IlId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HastaneId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KlinikId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkHourId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IlId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HastaneId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KlinikId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkHourId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorId)
            </td>
        </tr>
}
    </tbody>
</table>
